:root {
  --primary-color: rgb(36, 36, 36);
  --text-color: rgb(240, 240, 240);
  --detail-color: rgb(221, 221, 221);
  --link-color: rgb(100, 108, 255);

  --default-border: 1px solid var(--detail-color);
  --default-border-radius: 1.5vw;

  --default-padding: 1vw;

  --default-gap: 1.2vw;

  --navbar-height: 5vw;

  --icon-size: 2vw;

  --xs-font-size: 0.9vw;
  --small-font-size: 1.2vw;
  --medium-font-size: 1.5vw;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1vw;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--primary-color);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: color-mix(in srgb, var(--link-color) 85%, #000);
}

body {
  margin: 0;
  text-align: center;
  min-width: 320px;
  overflow-y: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.profile {
  display: flex;
  gap: 1vw;
  align-items: center;
}
.profilepic {
  border-radius: 100%;
  object-fit: cover;
  width: 3.8vw;
  height: 3.8vw;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  justify-self: center;
}

.iconbutton {
  border: 0;
  padding: 0;
  background: none;
}

.icon {
  width: var(--icon-size);
}

.card {
  padding: 2em;
}

.adimg {
  width: 100%;
}

.border {
  border: var(--default-border);
  border-radius: var(--default-border-radius);
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
}
.scrollable::-webkit-scrollbar {
  width: 0.6vw;
}
.scrollable::-webkit-scrollbar-track {
  background: none;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--detail-color) 20%, transparent);
  border-radius: 1vw;
  border: 2px solid transparent;
  background-clip: content-box;
}

#app {
  margin: 0;
  text-align: center;
}

.right {
  float: right;
}
.left {
  float: left;
}

.small {
  font-size: var(--small-font-size);
}
.medium {
  font-size: var(--medium-font-size);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
